# Host contains IP address and port of the current server
HOST=

# Timeout on reading the request body (in milliseconds)
REQUEST_READ_TIMEOUT=2000

# Timeout on writing the response body (in milliseconds)
REQUEST_WRITE_TIMEOUT=2000

# Timeout on graceful shutdown (in milliseconds)
GRACE_PERIOD=5000

# Development database connection string
DEV_DB_URL=

# Integration tests database connection string
TEST_DB_URL=

# Logging level
LOG_LEVEL="ERROR"

# Symmetric crypto key
SYMMETRIC_KEY=

# Asymmetric crypto key
ASYMMETRIC_KEY=
